@font-face {
  font-family: "ryumin";
  src: url("../fonts/a-otf-ryumin-pro-l-kl.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 100%;
  background-color: #F9F8F3;
  color: #333;
  font-family: "ryumin";
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

.cta-btn a,
.line-btn a,
.send-btn {
  background-color: #DBB571;
  padding: 12px 28px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #DBB571;
  position: relative;
  overflow: hidden;
  transition: ease 0.2s;
  height: 44px;
}

.cta-btn a,
.line-btn a {
  position: relative;
  overflow: hidden;
  transition: ease 0.2s;
  height: 44px;
}

.cta-btn span,
.line-btn span {
  position: relative;
  z-index: 3;
}

.cta-btn a::before,
.line-btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: top;
}

.cta-btn a:hover:before,
.line-btn a:hover:before {
  transform: scale(1, 1);
}

.cta-btn img {
  width: 20px;
}

.cta-btn span,
.line-btn span {
  line-height: 1px;
}

.cta-btn-l a,
.cta-btn input {
  width: 314px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .cta-btn-l a,
  .cta-btn input {
    width: 100%;
  }
}

.sec-title {
  text-align: center;
  color: #6C4341;
  margin-bottom: 32px;
}
.sec-title .sec-en {
  font-size: 32px;
  position: relative;
  display: inline-block;
}
@media (max-width: 800px) {
  .sec-title .sec-en {
    font-size: 24px;
  }
}
.sec-title .sec-en::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #6C4341;
  width: 100%;
  top: 50%;
  left: -130%;
}
.sec-title .sec-en::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #6C4341;
  width: 100%;
  top: 50%;
  right: -130%;
}
.sec-title .sec-jp {
  display: block;
  font-size: 14px;
}
@media (max-width: 800px) {
  .sec-title .sec-jp {
    font-size: 12px;
  }
}

/*-------------------------------------------
header
-------------------------------------------*/
header {
  position: fixed;
  z-index: 10;
  background-color: #F9F8F3;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media (max-width: 800px) {
  header .container {
    height: 60px;
  }
}
header .menu-btn {
  display: flex;
  gap: 24px;
}
@media (max-width: 800px) {
  header .menu-btn {
    display: none;
    font-size: 14px;
  }
}
header nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 25;
  top: 60px;
  right: 100%;
  text-align: center;
  transition: all 0.3s;
}
header nav li {
  padding-bottom: 16px;
}
header nav a {
  color: #333;
}
header nav a:hover {
  opacity: 0.7;
}
header .hamburger {
  display: none;
}
@media (max-width: 800px) {
  header .hamburger {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.3s;
  }
}
@media (max-width: 800px) {
  header .hamburger span {
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #333;
    transition: all 0.3s;
  }
}
@media (max-width: 800px) {
  header .hamburger span:nth-of-type(1) {
    top: 30%;
  }
}
@media (max-width: 800px) {
  header .hamburger span:nth-of-type(2) {
    top: 50%;
  }
}
@media (max-width: 800px) {
  header .hamburger span:nth-of-type(3) {
    top: 70%;
  }
}
header #mask {
  display: none;
}
header .sp-menu-btn {
  display: none;
}
@media (max-width: 800px) {
  header .sp-menu-btn {
    display: flex;
    gap: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
header .sp-menu-btn .cta-btn {
  width: 60%;
}
header .sp-menu-btn .line-btn {
  width: 40%;
}
header .sp-menu-btn .cta-btn a,
header .sp-menu-btn .line-btn a {
  border-radius: 0;
  height: 50px;
  padding-inline: 4px;
  gap: 4px;
}
header .sp-menu-btn .line-btn a {
  background-color: #E5CDA4;
  border: 1px solid #E5CDA4;
}

header.open nav {
  opacity: 1;
  visibility: visible;
  right: 50%;
  transform: translateX(50%);
}
header.open .hamburger span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 50% !important;
}
header.open .hamburger span:nth-of-type(2) {
  opacity: 0;
}
header.open .hamburger span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 50% !important;
}
header.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 181, 113);
  z-index: 20;
}

/*-------------------------------------------
mainvisual
-------------------------------------------*/
.mainvisual {
  position: relative;
  height: 100vh;
  margin-bottom: 80px;
  padding-top: 60px;
}
.mainvisual .pc {
  display: block;
}
@media (max-width: 800px) {
  .mainvisual .pc {
    display: none;
  }
}
.mainvisual .sp {
  display: none;
}
@media (max-width: 800px) {
  .mainvisual .sp {
    display: block;
    object-position: bottom;
  }
}
.mainvisual::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(83, 83, 83, 0.7) 22%, rgba(168, 168, 168, 0.48) 37%, rgba(201, 201, 201, 0.26) 47%, rgba(228, 228, 228, 0.1) 63%);
}
@media (max-width: 800px) {
  .mainvisual::before {
    background: none;
  }
}
.mainvisual img {
  height: calc(100vh - 80px);
  width: 100%;
}
.mainvisual__logo {
  position: absolute;
  top: 70px;
  line-height: 132px;
  font-size: 94px;
  opacity: 0.2;
  color: #fff;
  z-index: 1;
}
@media (max-width: 800px) {
  .mainvisual__logo {
    font-size: 56px;
    top: 100px;
    line-height: 100%;
  }
}
.mainvisual__title {
  position: absolute;
  top: 210px;
  line-height: 170%;
  color: #fff;
  font-size: 40px;
  letter-spacing: 2px;
  filter: drop-shadow(2px 2px 4px #000);
}
@media (max-width: 800px) {
  .mainvisual__title {
    font-size: 24px;
    top: 240px;
  }
}

/*-------------------------------------------
concept
-------------------------------------------*/
.concept {
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 800px) {
  .concept {
    margin-top: -100px;
    padding-top: 100px;
  }
}
.concept__text {
  margin-bottom: 40px;
}
.concept__items {
  display: flex;
  justify-content: center;
  gap: 56px;
}
@media (max-width: 800px) {
  .concept__items {
    gap: 32px;
    font-size: 12px;
  }
}
.concept__item {
  width: 20%;
  border: 1px solid #E1C0C5;
  background-color: #E1C0C5;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 800px) {
  .concept__item {
    width: 40%;
  }
}
.concept__item::after {
  content: "";
  background: inherit;
  filter: blur(5px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 50%;
}
.concept__item span {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  padding: calc(50% - 30px) 0;
}

/*-------------------------------------------
service
-------------------------------------------*/
.service {
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .service {
    margin-top: -100px;
    padding-top: 100px;
  }
}
.service__items {
  margin-top: 100px;
}
@media (max-width: 800px) {
  .service__items {
    margin-top: 64px;
  }
}
.service__item {
  margin-bottom: 136px;
  position: relative;
  display: flex;
}
@media (max-width: 800px) {
  .service__item {
    flex-direction: column-reverse;
    margin-bottom: 32px;
  }
}
.service__item:last-of-type {
  margin-bottom: 64px;
}
.service__text {
  width: 55%;
  background-color: #fafafa;
  padding: 32px 8% 32px 3%;
  border: 1px solid;
  border-image: linear-gradient(120deg, rgb(108, 67, 65), rgb(130, 113, 80), rgb(159, 145, 96), rgb(210, 177, 126)) 1;
  margin-top: 56px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
@media (max-width: 800px) {
  .service__text {
    width: 90%;
    margin: -40px auto 0;
    padding: 24px 24px;
    z-index: 1;
  }
}
.service__bg-text {
  position: absolute;
  display: inline-block;
  font-size: 46px;
  color: #DADADA;
  line-height: 1px;
  top: 60px;
  right: 60px;
}
@media (max-width: 800px) {
  .service__bg-text {
    display: none;
  }
}
.service__point {
  font-size: 32px;
  position: relative;
  margin-bottom: 8px;
  z-index: 1;
}
.service__point::before {
  content: "";
  position: absolute;
  background-image: url(../img/flower.png);
  background-size: cover;
  background-position: center;
  width: 65px;
  height: 65px;
  z-index: -1;
  top: 0;
  left: -15px;
}
.service__title {
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .service__title {
    margin-bottom: 24px;
  }
}
.service__main-title {
  font-size: 32px;
  display: block;
}
@media (max-width: 800px) {
  .service__main-title {
    font-size: 20px;
  }
}
.service__sub-title {
  font-size: 16px;
}
@media (max-width: 800px) {
  .service__sub-title {
    font-size: 14px;
  }
}
.service__img {
  width: 52%;
  height: 360px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0;
}
@media (max-width: 800px) {
  .service__img {
    position: static;
    width: 100%;
    height: 203px;
    transform: none;
    overflow: hidden;
  }
}
.service__img img {
  height: 100%;
  width: 100%;
}
.service__item-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .service__item-reverse {
    flex-direction: column-reverse;
  }
}
.service__item-reverse .service__img {
  left: 0;
}
.service__item-reverse .service__text {
  padding: 32px 3% 32px 11%;
}
@media (max-width: 800px) {
  .service__item-reverse .service__text {
    padding: 24px 24px;
  }
}
.service .cta-btn a {
  height: 56px;
}

/*-------------------------------------------
strength
-------------------------------------------*/
.strength {
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .strength {
    margin-top: -100px;
    padding-top: 100px;
  }
}
.strength__items {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 800px) {
  .strength__items {
    flex-direction: column;
    gap: 84px;
  }
}
.strength__item {
  width: 33.3333333333%;
  text-align: center;
  position: relative;
  padding: 30px 16px;
  background-color: #fafafa;
  border: 1px solid;
  border-image: linear-gradient(120deg, rgb(108, 67, 65), rgb(130, 113, 80), rgb(159, 145, 96), rgb(210, 177, 126)) 1;
}
@media (max-width: 800px) {
  .strength__item {
    width: 100%;
  }
}
.strength__item:before, .strength__item:after {
  position: absolute;
  content: "";
}
.strength__item:before {
  top: -50px;
  left: calc(50% - 63px);
  width: 126px;
  height: 126px;
  border: 1px solid rgb(108, 67, 65);
  border-radius: 50%;
  background: #fff;
}
.strength__item:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.strength__img {
  position: absolute;
  z-index: 2;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.strength__title {
  font-size: 20px;
  color: #DBB571;
  margin-top: 38px;
  position: relative;
  z-index: 1;
}
.strength__text {
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

/*-------------------------------------------
message
-------------------------------------------*/
.message {
  margin-bottom: 80px;
  background-image: url(../img/message.jpg);
  padding: 40px 16px;
  background-size: cover;
  background-position: 50% 50%;
}
.message .container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 16px;
  text-align: center;
}

/*-------------------------------------------
contact
-------------------------------------------*/
.contact {
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .contact {
    margin-top: -100px;
    padding-top: 100px;
  }
}
.contact__name {
  display: flex;
  gap: 60px;
}
@media (max-width: 800px) {
  .contact__name {
    flex-direction: column;
    gap: 0px;
  }
}
.contact__name-box {
  width: 50%;
}
@media (max-width: 800px) {
  .contact__name-box {
    width: 100%;
  }
}
.contact input:not(.submit),
.contact textarea {
  border: 1px solid #ccc;
  background-color: #fafafa;
  width: 100%;
  padding: 8px 12px;
}
.contact textarea {
  height: 130px;
}
.contact dd {
  margin-bottom: 20px;
}
.contact dd:last-of-type {
  margin-bottom: 48px;
}
@media (max-width: 800px) {
  .contact dd:last-of-type {
    margin-bottom: 8px;
  }
}
@media (max-width: 800px) {
  .contact dd {
    margin-bottom: 8px;
  }
}
.contact .send-btn {
  width: fit-content;
  margin: 0 auto;
  height: 44px;
  transition: all 0.5s;
  border: 2px solid #DBB571;
  height: 56px;
}
@media (max-width: 800px) {
  .contact .send-btn {
    width: 100%;
  }
}
.contact .send-btn:hover {
  background-color: #fff;
}

/*-------------------------------------------
footer
-------------------------------------------*/
.footer {
  margin-bottom: 24px;
}
@media (max-width: 800px) {
  .footer {
    margin-bottom: 80px;
  }
}
.footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 800px) {
  .footer__info {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}
.footer__logo {
  text-align: center;
}
@media (max-width: 800px) {
  .footer__logo {
    line-height: 1px;
  }
}
.footer__sns {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-block: 16px;
}
.footer__sns a {
  line-height: 1px;
}
.footer__sns li a {
  background-color: #6C4341;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
@media (max-width: 800px) {
  .footer__sns li a {
    width: 40px;
    height: 40px;
  }
}
.footer__sns li a:hover {
  opacity: 0.7;
}
.footer__shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .footer__info-left .cta-btn {
    display: none;
  }
}
@media (max-width: 800px) {
  .footer__info-right {
    text-align: left;
  }
}
.footer__policy {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer__policy {
    flex-direction: column;
    gap: 8px;
    text-align: center;
    font-size: 12px;
  }
}
.footer__policy a:hover {
  opacity: 0.7;
}
.footer__policy-left {
  display: flex;
  gap: 24px;
}
@media (max-width: 800px) {
  .footer__policy-left {
    justify-content: center;
    gap: 8px;
  }
}/*# sourceMappingURL=style.css.map */